/* add poppins google font  */
@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;500;600;700&display=swap");
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(135deg, #c850c0, #4158d0);
}

body {
  overflow-x: hidden;
  color: white;
  padding: 20px;
}
